<li>
  <span class="gem_name"><%= @gem_item.name %></span>  
  <span class="gem_ver">(<%= @gem_item.version %>)</span>
  <p><%= truncate @gem_item.info, :length => 80 %></p>
  <a href="#" class="unsub_btn" rel="<%= @gem_item.id %>">Unsubscribe</a>
  <span class="unsubscribing">Unsubscribing...</span>
</li>