<div id="subscribed_gems">
    <h3>My Subscribed Gems</h3>
    <ul class="gems_list">
        <% for gem_item in @gem_items %>
            <%= render :partial => 'gem_item', :locals => { :gem_item => gem_item } %>
        <% end %>
    </ul>    
</div>
