html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
:focus {
    outline: 0 none;
}
body {
    background: none repeat scroll 0 0 white;
    color: #2F3536;
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
    margin-bottom: 1em;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
strong {
    font-weight: bold;
}
a:link, a:visited, a:active {
    color: #EF4300;
    text-decoration: none;
}
a:hover {
    background: none repeat scroll 0 0 #DFE7E8;
    text-decoration: none;
}
.wraper {
  width: 780px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html {
    height: 100%;
}
body {
    background: none repeat scroll 0 0 white;
    color: #2F3536;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 12px;
    height: 100%;
    line-height: 165%;
    margin: 0 auto;
}
#head {
  padding: 30px 0;
  background: #ccc;
}
#head h1 a {
  font-weight: bold;
  font-size: 1.5em;
}
ul.gems_list li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
ul.gems_list li:hover {
  background: #f5f5f5;
}
#intro {
  padding: 20px 0;
}
#intro h2 {
  font-weight: bold;
}
#search {
  margin: 20px 0;
}
#search h3 {
  font-weight: bold;
}
#search form {
  background: #f1f1f1;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#search form .text_field {
  float: left;
  width: 70%;
}
#search form .text_field input[type='text'] {
  width: 518px;
  border: 1px solid #bbb;
  margin: 0;
  padding: 10px;
  display: block;
}
#search form .button_field {
  float: right;
  width: 30%;
}
#search form .button_field input[type='submit'] {
  border: 1px solid #bbb;
  text-align: center;
  background: #E6E6E6;
  color: #666;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
  display: block;
  width: 100%;
}
#search form .button_field input[type='submit']:hover {
  background: #8ecc4c;
  color: #fff;
  text-shadow: none;
  
}
#search_results h3 {
  margin: 20px 0;
  font-weight: bold;
}
#foot .wraper {
  border-top: 1px solid #ddd;
  padding: 40px 0;
  margin-top: 50px;
}