<div id="intro">
    <h2>Welcome to GemNotifier</h2>
    <p>Subscribe gems for upgrade notifications.</p>
</div>
<div id="search">
    <h3>Search Gems</h3>
    <%= form_tag('/search', :method => :get) do %>
        <div class="text_field">
            <%= text_field_tag :query %>
        </div>
        <div class="button_field">
            <%= submit_tag "Search" %>
        </div>
        <div class="clear"></div>
    <% end %>
</div>
<%= render :partial => 'gems_list' %>