<!DOCTYPE html>
<html>
<head>
  <title>Gemnotifier</title>
  <%= stylesheet_link_tag 'reset', 'style' %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div id="head">
        <div class="wraper">
            <a href="/" id="logo">GemNotifier</a>
            <div id="signedin_box">
                <a href="/browse">Browse</a>
                <% if current_user %>
                    <a href="/mygems">My Gems</a><a href="/sign_out">SignOut</a>
                <% end %>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="wraper">
            <%= yield %>
        </div>
    </div>
    <div id="foot">
        <div class="wraper">
            <p>Copyright &copy; intridea inc.</p>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        <% if current_user %>
            var logged_in = true;
        <% else %>
            var logged_in = false;
        <% end %>
    </script>
    <%= javascript_include_tag :defaults %>
</body>
</html>
